#Github Wordpress Ignore
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/plugins
wp-content/upgrade/
wp-content/wp-cache-config.php

#Local Bin folder
bin

#Developer Files
composer.lock
/vendor/
node_modules
build
.vagrant
.idea
www-site.iml
.project
.settings
db